{
  "schema": [
    {
      "label": "program",
      "type": "VERTEX",
      "properties": [
        { "name": "id", "type": "STRING" },
        { "name": "name", "type": "STRING" }
        { "name": "description", "type": "STRING" }
        { "name": "namespace", "type": "STRING" }
        { "name": "max_version", "type": "STRING" }
        { "name": "github_url", "type": "STRING" }
        { "name": "mega_url", "type": "STRING" }
        { "name": "doc_url", "type": "STRING" }
      ],
      "primary": "id"
    },
    {
      "label": "library",
      "type": "VERTEX",
      "properties": [
        { "name": "id", "type": "STRING" },
        { "name": "name", "type": "STRING" },
        { "name": "downloads", "type": "INT64" },
        { "name": "cratesio", "type": "STRING", "optional": true }
      ],
      "primary": "id",
    },
    {
      "label": "application",
      "type": "VERTEX",
      "properties": [
        { "name": "id", "type": "STRING" },
        { "name": "name", "type": "STRING" },
      ],
      "primary": "id",
    },
    {
      "label": "library_version",
      "type": "VERTEX",
      "properties": [
        { "name": "id", "type": "STRING" },
        { "name": "name", "type": "STRING" },
        { "name": "version", "type": "STRING" }
        { "name": "documentation", "type": "STRING" }
      ],
      "primary": "id",
    },
    {
      "label": "application_version",
      "type": "VERTEX",
      "properties": [
        { "name": "id", "type": "STRING" },
        { "name": "name", "type": "STRING" },
      ],
      "primary": "id",
    },
    {
      "label": "version",
      "type": "VERTEX",
      "properties": [
        { "name": "name_and_version", "type": "STRING" },
      ],
      "primary": "name_and_version",
    },

    {
      "label": "has_type",
      "type": "EDGE",
      "properties": [],
      "constraints": [["program", "library"], ["program", "application"]]
    },
    {
      "label": "has_version",
      "type": "EDGE",
      "properties": [],
      "constraints": [["library", "library_version"], ["application", "application_version"]]
    },

    {
      "label": "has_dep_version",
      "type": "EDGE",
      "properties": [],
      "constraints": [["library_version", "version"], ["application_version", "version"]]
    },
    
    {
      "label": "depends_on",
      "type": "EDGE",
      "properties": [],
      "constraints": [["version", "version"]]
    }
  ],

  "files": [
    {}
  ]
}