# Based on https://github.com/actions-rs/meta/blob/master/recipes/quickstart.md
#
# History:
#   1. 2023-02-14: Created at 2023-02-14T16:00:00Z by Quanyi Ma <eli@patch.sh>
#
#
#

on: [ push, pull_request ]

name: Base GitHub Action for Check, Test and Lints

jobs:

  cargo-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Docker and Run cargo check
        run: |
          docker pull xizheyin/crates-pro:latest
          docker run --name rust-container -d -v ${{ github.workspace }}:/github/workspace --workdir /github/workspace xizheyin/crates-pro:latest tail -f /dev/null
          docker exec rust-container sh -c "rustup default stable && cargo check"
          docker stop rust-container

  clippy:
    runs-on: ubuntu-latest
    # 定义步骤
    steps:
      - uses: actions/checkout@v3 # 检出你的仓库
      - name: Setup Docker and Run cargo clippy
        run: |
          docker pull xizheyin/crates-pro:latest
          docker run --name rust-container -d -v ${{ github.workspace }}:/github/workspace --workdir /github/workspace xizheyin/crates-pro:latest tail -f /dev/null
          docker exec rust-container sh -c "rustup default stable && cargo clippy --workspace --all-targets --all-features -- -D warnings"
          docker stop rust-container
  
  doc:
    runs-on: ubuntu-latest
    # 定义步骤
    steps:
      - uses: actions/checkout@v3 # 检出你的仓库
      - name: Run cargo doc
        run: |
          docker pull xizheyin/crates-pro:latest
          docker run --name rust-container -d -v ${{ github.workspace }}:/github/workspace --workdir /github/workspace xizheyin/crates-pro:latest tail -f /dev/null
          docker exec rust-container sh -c "rustup default stable && cargo doc --workspace --all-targets --all-features -- -D warnings"
          docker stop rust-container